*{
    box-sizing: border-box;
}

/* Layout */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}